.title-box {
  background-color: var(--title-box-background);
  width: 425px;
  text-align: right;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: gs-bold;
  font-size: 20px;
  margin: 5px 20px;
  color: var(--title-box-text);
}

span {
  font-family: gs-medium;
  font-size: 10px;
  color: var(--title-box-text);
}

#inputDisplay {
  width: 100%;
  height: 150px;
  border: none;
  border-top: none;
  font-size: 40px;
  font-family: gs-medium;
  background-color: var(--input-background-color);
  color: var(--input-display-text);
  border-bottom: 3px solid var(--input-display-border);
  padding: 0 25px 0;
}

.history {
  width: 250px;
  margin-left: 5px;
  background-color: var(--history-box);
  text-align: end;
}

#historyDisplay {
  font-family: gs-medium;
  font-size: 15px;
  margin: 0px;
  padding: 0px 13px;
  color: var(--history-text);
}
